@charset "utf-8";
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    min-width:0;
}
body{
    min-height:100dvh;
}
header,
main,
footer,
section,
article{
    container-type:inline-size;
}
h1,
h2,
h3,
h4,
h5,
h6{
    text-wrap:balance;
}
p,
li{
    text-wrap:pretty;
    white-space:break-spaces;
}
a{
    text-decoration:none;
}
button,
input,
optgroup,
select,
textarea{
    font-family:inherit;
    font-size:100%;
    line-height:1.15;
    margin:0;
    hyphens:auto;
    appearance:none;
}
button{
    cursor:pointer;
}
table{
    border-collapse:collapse;
    border-spacing:0;
}
br{
    margin-bottom:1em;
}